<hero-search
        (showDetails)="onSelect($event)">
</hero-search>
<p *ngIf="villain">Current villain is: {{villain}}</p>

<h2 *ngIf="!heroes">Loading Heroes....</h2>
<h2 *ngIf="heroes">Choose your hero</h2>

<ul class="heroes">
    <li *ngFor="let listItem of heroes; let i = index" [class.selected]="listItem.item === selectedHero">
        <hero-card [hidden]="listItem.editing" [hero]="listItem.item"></hero-card>
        <button class="delete" (click)="delete(listItem.item); $event.stopPropagation()">x</button>
        <button (click)="onSelect(listItem.item)">Details/Fight</button>
        <button [hidden]="listItem.editing"
                (click)="listItem.editing = true">quick edit
        </button>
        <div *ngIf="listItem.editing">
            <hero-editor
                    (saved)="onSaved(listItem, $event)"
                    (canceled)="onCanceled(listItem)"
                    [hidden]="!listItem.editing"
                    [hero]="listItem.item">
            </hero-editor>
        </div>
    </li>
    <li>
        <button *ngIf="!showNewHero" (click)="onAddHero()">New Hero</button>
        <div *ngIf="showNewHero">
            <label>Hero name:</label> <input #heroName/><br>
            <label>Hero Weapon:</label> <input #heroWeapon/><br>
            <button (click)="cancelAddHero()">cancel</button>
            <button (click)="add(heroName.value, heroWeapon.value); heroName.value=''; heroWeapon.value=''">Add</button>
        </div>
    </li>
</ul>

<div class="heroes" *ngIf="selectedHero">
    <h3>{{selectedHero.name}} Details:</h3>
    <p>
        <button (click)="gotoDetail()" class="delete">go to details</button>
    </p>
</div>

