
h1 {
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.name {

}
.items.heroes {

    color: #cc1169;
}

.items li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #AAA;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    font-style: inherit;
    color: #0074D9;

}