<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} {{irgendEinName}}</h2>
    <div>
        <label>Id: </label> {{hero.id}}
    </div>
    <div>
        <label> Name: </label> <input [(ngModel)]="hero.name" placeholder="name"/>

    </div>
    <div>
        <label> Weapon: </label> {{hero.weapon}}
    </div>
    <div>
        <label> Villain: </label> <input #villainInput (keyup)="onKeyup(villainInput.value)" placeholder="villain"/>
    </div>
    <div>
        <label> Birthday: </label> {{hero.birthday | date:'dd MMM yyyy'}}
    </div>
    <p>
    <button (click)="hero.noArms = !hero.noArms">Toogle Hero armless</button>
    <button [disabled]="hero.noArms" (click)="weaponChange()">Toogle weapon!</button>
    <p>


    <weapon-history [weapon]="weapon"></weapon-history>
    <p>
    <div>
        <h3>Inside of {{hero.name}}</h3>
        {{ hero | json }}
    </div>
</div>
<div *ngIf="!hero">
    <p>Wähle einen Helden aus.</p>
</div>

